__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
venv
.env
.env.local
.git
.gitignore
.docker
docker-compose*.yml
.dockerignore
Dockerfile
.DS_Store
*.pem
.vscode
.idea
.editorconfig
notebook
*.ipynb
.ipynb_checkpoints
